/* HeroSection.css */
.hero-section {
  background: linear-gradient(
    to right,
    #383c4a,
    #0c111b
  ); /* Gradient background */
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-buttons .btn {
  background-color: #fff;
  color: #ff7e5f;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.hero-buttons .btn:hover {
  background-color: #fff;
  color: #a87bb4;
  transform: translateY(-3px);
}

.hero-buttons .btn-secondary {
  background-color: transparent;
  border: 2px solid #fff;
}

.hero-buttons .btn-secondary:hover {
  background-color: #fff;
  color: #20b083;
}
